# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

config/secrets.exs

# Ignore package tarball (built via "mix hex.build").
activestorage_ex-*.tar

# Ignore Elixir language server
.elixir_ls

# Ignore appropriate Rails/Phoenix files
/external/activestorage_ex_rails/.bundle
/external/activestorage_ex_rails/db/*.sqlite3
/external/activestorage_ex_rails/db/*.sqlite3-journal
/external/activestorage_ex_rails/log/*
/external/activestorage_ex_rails/tmp/*
!/external/activestorage_ex_rails/log/.keep
!/external/activestorage_ex_rails/tmp/.keep
/external/activestorage_ex_rails/storage/*
!/external/activestorage_ex_rails/storage/.keep
/external/activestorage_ex_rails/node_modules
/external/activestorage_ex_rails/yarn-error.log
/external/activestorage_ex_rails/public/assets
/external/activestorage_ex_rails.byebug_history
/external/activestorage_ex_rails/config/master.key
/external/activestorage_ex_phoenix/_build/
/external/activestorage_ex_phoenix/cover/
/external/activestorage_ex_phoenix/deps/
/external/activestorage_ex_phoenix/doc/
/external/activestorage_ex_phoenix/.fetch
/external/activestorage_ex_phoenix/erl_crash.dump
/external/activestorage_ex_phoenix/*.ez
/external/activestorage_ex_phoenix/activestorage_ex_phoenix-*.tar
/external/activestorage_ex_phoenix/npm-debug.log
/external/activestorage_ex_phoenix/assets/node_modules/
/external/activestorage_ex_phoenix/priv/static/
/external/activestorage_ex_phoenix/config/*.secret.exs
